/*header*/

.navbar {
  position: relative;
  font-size: 14px;
  width: 100%;
  background: #444;
}
.navbar-inner {
  margin: auto;
  padding: 5px;
}

.navbar-inner .brand{
  float: left;
  width: 160px;
  padding: 3px 20px;
  line-height: 34px;
  color: #ccc;
  font-weight: 700;
}

/* 清除浮动 */
.navbar-inner::after{
    display: block;
    clear: both;
    content: '';
    height: 0px;
}


.navbar-inner ul{
  float: right;
  margin-right: 0;
  margin-bottom: 0;
}


.navbar-inner ul li{
  margin: 0 20px;
  display: inline-block;
  line-height: 40px;
}

.navbar-inner ul li a{
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .1rem;
}


.navbar-inner ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-inner ul li a:focus {
  text-decoration: none;
}

.navbar-inner ul li:nth-child(2) img{
  vertical-align: middle;
}

.navbar-inner ul li:nth-child(2) img a{
  font-size: 16px;
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}


.header-active{
  color:#fff;
}
